In [1]:
import pandas as pd

In [2]:
csv_file = pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")

In [3]:
csv_file.to_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv", index=False)

In [4]:
Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

csv_file.isnull

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [6]:
csv_file["fuel_unit"]

0        ton
1        ton
2        ton
3        ton
4        mcf
        ...
29518    mcf
29519    mcf
29520    mcf
29521    ton
29522    mcf
Name: fuel_unit, Length: 29523, dtype: object

In [7]:
Which of the following fuel type code has the lowest average fuel cost per unit burned?

csv_file.loc[:, ["fuel_type_code_pudl", "fuel_cost_per_unit_burned"]]

      fuel_type_code_pudl  fuel_cost_per_unit_burned
0                    coal                      18.59
1                    coal                      18.58
2                    coal                      39.72
3                    coal                      47.21
4                     gas                       2.77
...                   ...                        ...
29518                 gas                       4.78
29519                 gas                       3.65
29520                 gas                       4.77
29521                coal                       3.06
29522                 gas                       0.00

[29523 rows x 2 columns]

In [9]:
print(csv_file[["fuel_type_code_pudl", "fuel_cost_per_unit_burned"]])

      fuel_type_code_pudl  fuel_cost_per_unit_burned
0                    coal                      18.59
1                    coal                      18.58
2                    coal                      39.72
3                    coal                      47.21
4                     gas                       2.77
...                   ...                        ...
29518                 gas                       4.78
29519                 gas                       3.65
29520                 gas                       4.77
29521                coal                       3.06
29522                 gas                       0.00

[29523 rows x 2 columns]

In [12]:
csv_file.loc[:, ["fuel_mmbtu_per_unit"]]

       fuel_mmbtu_per_unit
0                   16.590
1                   16.592
2                   24.130
3                   23.950
4                    1.000
...                    ...
29518                1.059
29519                1.050
29520                1.060
29521               16.108
29522                1.059

[29523 rows x 1 columns]

In [14]:
csv_file.sum(axis = 1, skipna = True)

0        5.379539e+06
1        1.048899e+07
2        2.980783e+06
3        3.741599e+06
4        4.253811e+04
             ...
29518    2.084865e+04
29519    8.087753e+05
29520    1.066036e+05
29521    3.180100e+05
29522    1.989574e+04
Length: 29523, dtype: float64

In [15]:
csv_file.sum(axis = 0, skipna = True)

record_id                       f1_fuel_1994_12_1_0_7f1_fuel_1994_12_1_0_10f1_...
utility_id_ferc1                                                          3501482
report_year                                                              59217412
plant_name_ferc1                rockportrockport total plantgorgasbarrychickas...
fuel_type_code_pudl             coalcoalcoalcoalgascoalnuclearcoalcoalcoalgasc...
fuel_qty_burned                                                     77412830479.0
fuel_mmbtu_per_unit                                                 250712.583261
fuel_cost_per_unit_burned                                             6159945.343
fuel_cost_per_unit_delivered                                         27089432.369
fuel_cost_per_mmbtu                                                  569922.44553
dtype: object

In [17]:
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

print(csv_file.std())

utility_id_ferc1                7.417835e+01
report_year                     7.025483e+00
fuel_qty_burned                 9.118004e+06
fuel_mmbtu_per_unit             1.060022e+01
fuel_cost_per_unit_burned       2.854490e+03
fuel_cost_per_unit_delivered    6.877593e+04
fuel_cost_per_mmbtu             2.091541e+03
dtype: float64